html {
    background-color: rgb(192, 156, 110);
}

h1,img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    outline:auto
}

h1,h4 {
    border: 3mm ridge aqua;
}

h1 {
    background-color:silver;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size: 36px;
    background-image: linear-gradient(to right,gray,silver, white, silver, gray);
    color: gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
}

ul li,ol li {
    margin-bottom:5px;
}

#mini {
    width: 200px;
    border: 3mm ridge aqua
}

.index-buttons {
    text-align:center;
    display: block;
}